<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://tailwindcomponents.com/css/component.ecommerce-products-list.css" rel="stylesheet">
</head>
  <body>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div x-data="{ cartOpen: false , isOpen: false }" class="bg-white">
    <header>
        <div class="container mx-auto px-6 py-3">
            <div class="flex items-center justify-between">
                <div class="hidden w-full text-gray-600 md:flex md:items-center">
                    
                </div>
                <div class="w-full text-gray-700 md:text-center text-2xl font-semibold">
                    Blitzreader
                </div>
                <div class="flex items-center justify-end w-full">
                  

                    <div class="flex sm:hidden">
                        <button @click="isOpen = !isOpen" type="button" class="text-gray-600 hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-label="toggle menu">
                            <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                                <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <nav :class="isOpen ? '' : 'hidden'" class="sm:flex sm:justify-center sm:items-center mt-4">
                <div class="flex flex-col sm:flex-row">
                    <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Home</a>
                    <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Categories</a>
                    <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Login
                    <a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">About</a>
                </div>
            </nav>
            <div class="relative mt-6 max-w-lg mx-auto">
            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                    <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>

                <input class="w-full border rounded-md pl-10 pr-4 py-2 focus:border-blue-500 focus:outline-none focus:shadow-outline" type="text" placeholder="Search">
            </div>
        </div>
    </header>
    
 <div class="row">
      <h4>Actix Manga</h4>
      <form action="/manga" method="post">
        <div class="ten columns">
          <input type="text" placeholder="enter a task description ..."
            name="description" id="description" value="" autofocus
            class="u-full-width {% if msg %}field-{{msg.0}}{% endif %}" />
            
            <input type="text" placeholder="enter a task description ..."
            name="genre" id="genre" value="" autofocus
            class="u-full-width {% if msg %}field-{{msg.0}}{% endif %}" />
          
        </div>
        
        <div class="two columns">
          <input type="submit" value="add manga">
        </div>
      </form>
    </div>

    <form action="/category" method="post">
        <div class="ten columns">
          <input type="text" placeholder="category..."
            name="description" id="description" value="" autofocus
            class="u-full-width {% if msg %}field-{{msg.0}}{% endif %}" />
            
            <input type="text" placeholder="category... ..."
            name="genre" id="genre" value="" autofocus
            class="u-full-width {% if msg %}field-{{msg.0}}{% endif %}" />
          
        </div>
        
        <div class="two columns">
          <input type="submit" value="add manga">
        </div>
      </form>

    
  </body>
  
</html>